<?xml version="1.0"?>
<version>

  <major /> <!-- don't change the major part -->
  
  <minor /> <!-- don't change the major part -->
  
  <build mode="concat">
    <!-- set the first build digit to a number indicating the build type -->
    <build-type debug="1" alpha="2" beta="4" candidate="6" release="8" />
    
    <!-- unless it's a release build, concatenate the number of says since 2012 began -->
    <if unless="true" property="build" compare="equals" value="release">
      <time-since date="2012-01-01" unit="days" />
    </if>
    
    <!-- if it IS a release build, then just take the previous build number (excluding the first digit) -->
    <if property="build" compare="equals" value="release">
      <substring start="1" />
    </if>
  </build>
  
  <revision>
    <!-- unless it's a release build, set the revision number to the number of seconds since midnight / 2 -->
    <if unless="true" property="build" compare="equals" value="release">
      <sum operator="divide">
        <left><time-since date="midnight" unit="seconds" /></left>
        <right><fixed value="2" /></right>
      </sum>
    </if>
    
    <!-- if it's a release build, don't update the revision number -->
    <if property="build" compare="equals" value="release"><no-change /></if>
  </revision>
  
</version>