<?xml version="1.0"?>
<version>
  <major><no-change /></major>
  <minor><no-change /></minor>
  <build>
    <build-type debug="0" alpha="2" beta="4" candidate="6" release="8" />
  </build>
  <revision>
    <multi-part mode="concat">
      <time-since date="2000-01-01" unit="days" />
    </multi-part>
  </revision>
</version>